/**********************顶部导航栏*********************/

.cover {
    min-width: 1190px;
}

.sit-nav-cover {
    width: 100%;
    background-color: #e3e4e5;
    border-bottom: 1px solid #ddd;
}

.site-nav {
    height: 30px;
    color: #999;
    font-size: 12px;
}

.site-nav a {
    color: #999;
}

.site-nav .nav-fl {
    float: left;
}

.site-nav .nav-fl .nav-item {
    width: 58px;
    height: 30px;
    line-height: 30px;
}

.site-nav .nav-fl .nav-item .fa {
    margin-right: 3px;
    font-size: 18px;
    color: #f10215;
    vertical-align: -2px;
}

.site-nav .nav-fr {
    float: right;
}

.site-nav .nav-fr .nav-item {
    float: left;
    position: relative;
    height: 30px;
    line-height: 30px;
}

.site-nav .nav-fr .nav-item.nav-dd {
    border-left: 1px solid transparent;
    border-right: 1px solid transparent;
}

.site-nav .nav-fr .nav-item.nav-dd:hover {
    background-color: #fff;
    border-color: #ccc;
}

.site-nav .nav-fr .nav-item .nav-login {
    margin-right: 8px;
}

.site-nav .nav-fr .nav-item .nav-link.hl,
.site-nav .nav-fr .nav-item .nav-link:hover {
    color: #f10215;
}

.site-nav .nav-fr .nav-item.item-pipe {
    width: 1px;
    height: 10px;
    margin: 11px 5px 0;
    background-color: #ccc;
}

.site-nav .nav-fr .nav-item.nav-common .link-wrap {
    padding: 0 7px;
}

.site-nav .nav-fr .nav-item.nav-pop:hover .qr-pop {
    display: block;
}

.site-nav .nav-fr .nav-item .qr-static {
    position: absolute;
    top: 30px;
    left: -2px;
    width: 66px;
    height: 66px;
    padding: 4px 3px;
    border: 1px solid #ccc;
    background: url('../imgs/1.png.webp') no-repeat center center/60px 60px;
}

.site-nav .nav-fr .nav-item .qr-static::before,
.site-nav .nav-fr .nav-item .qr-pop::before {
    content: "";
    display: block;
    position: absolute;
    top: -9px;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #e4e4e4 #e4e4e4 #f6f6f6;
}

.site-nav .nav-fr .nav-item .qr-pop::before {
    top: -10px;
    margin-left: 60px;
}

.site-nav .nav-fr .nav-item .qr-pop {
    display: none;
    position: absolute;
    top: 30px;
    right: -16px;
    width: 192px;
    height: 310px;
    background: #fff;
    border: 1px solid #cfcfcf;
    border-bottom: 3px solid #60575a;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list {
    height: 100%;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item {
    height: 104px;
    margin-top: -1px;
    padding: 15px 0;
    border-top: 1px solid #e7e7e7;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-img {
    float: left;
    width: 76px;
    height: 76px;
    margin-left: 5px;
    padding: 3px;
    border: 1px solid #ccc;
    background-color: #f7f7f7;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-img img {
    width: 100%;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-info {
    float: left;
    width: 94px;
    height: 70px;
    margin-left: 5px;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-info .qr-tt {
    line-height: 17px;
    color: #666;
    font-weight: bold;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-info .qr-sub-tt {
    margin: 3px 0;
    line-height: 14px;
    color: #f10215;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-info .qr-mobiles {
    line-height: 25px;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-info .qr-mobiles .mobile-icon {
    display: inline-block;
    width: 25px;
    height: 0px;
    padding-top: 25px;
    background: url(../imgs/sprite_mobile.png) no-repeat 0 0/25px 77px;
    overflow: hidden;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-info .qr-mobiles .mobile-icon:nth-child(1) {
    background-position: 0 0;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-info .qr-mobiles .mobile-icon:nth-child(1) {
    background-position: 0 -26px;
}

.site-nav .nav-fr .nav-item .qr-pop .qr-list .qr-item .qr-info .qr-mobiles .mobile-icon:nth-child(1) {
    background-position: 0 -51px;
}


/****************************顶部导航栏***********************/


/******************************头部**************************/

.header {
    position: relative;
    height: 141px;
}

.header .logo-wrap {
    position: absolute;
    left: 0;
    z-index: 1;
    width: 190px;
    height: 142px;
    background-color: #fff;
    border-bottom: 1px solid #ededed;
}

.header .logo-wrap .logo-bd {
    display: block;
    width: 190px;
    height: 142px;
    background: url(../imgs/sprite.png) no-repeat 0 17px;
    overflow: hidden;
    font-size: 0;
}

.header .search-wrap {
    position: relative;
    height: 60px;
}

.header .search-wrap .search-form {
    position: absolute;
    left: 320px;
    top: 25px;
    width: 550px;
    height: 35px;
    background-color: #fff;
}

.header .search-wrap .search-form .fa-camera {
    position: absolute;
    right: 65px;
    top: 9px;
    font-size: 18px;
    color: #666;
}

.header .search-wrap .search-form .input-wrap {
    width: 450px;
    height: 35px;
}

.header .search-wrap .search-form .input-wrap input {
    width: 100%;
    height: 100%;
    padding: 4px 44px 4px 4px;
    box-sizing: border-box;
    text-indent: 5px;
    font-size: 1px;
}

.header .search-wrap .search-form .btn-wrap {
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 35px;
}

.header .search-wrap .search-form .btn-wrap button {
    width: 100%;
    height: 100%;
    background-color: #f10215;
    color: #fff;
    cursor: pointer;
}

.header .search-wrap .search-form .btn-wrap button .fa {
    font-size: 19px;
}

.header .search-wrap .settle-up {
    position: absolute;
    top: 25px;
    right: 99px;
    width: 190px;
    height: 35px;
    line-height: 35px;
    background: #fff;
    border: 1px solid #e3e4e5;
    text-align: center;
    font-size: 12px;
}

.header .search-wrap .settle-up a {
    color: #f10215;
}

.header .search-wrap .settle-up .fa {
    font-size: 18px;
    color: #f10215;
}

.header .search-wrap .settle-up .badge {
    display: block;
    position: absolute;
    top: 5px;
    right: 35px;
    width: 14px;
    height: 14px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    background-color: #f10215;
    line-height: 13px;
    font-size: 12px;
    color: #fff;
    text-align: center;
}

.header .keywords-wrap {
    position: absolute;
    left: 320px;
    top: 65px;
    z-index: 1;
    width: 550px;
    height: 20px;
    line-height: 20px;
}

.header .keywords-wrap .keyword {
    margin-right: 5px;
    font-size: 12px;
    color: #999;
}

.header .keywords-wrap .keyword:hover,
.header .keywords-wrap .keyword.hl {
    color: #f10215;
}

.header .keywords-wrap .keyword.kw-block {
    display: inline-block;
    width: 65px;
    height: 20px;
    line-height: 20px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    vertical-align: -5px;
}

.header .main-nav {
    position: absolute;
    bottom: 0;
    left: 200px;
    width: 790px;
    height: 60px;
    padding-top: 20px;
}

.header .main-nav .nav-pipe {
    float: left;
    width: 1px;
    height: 10px;
    margin: 15px -10px 0 20px;
}

.header .main-nav .nav-list {
    float: left;
}

.header .main-nav .nav-list .nav-item {
    float: left;
    height: 40px;
    line-height: 40px;
    margin-left: 30px;
    font-size: 14px;
}

.header .main-nav .nav-list .nav-item .nav-link {
    color: #333;
}

.header .main-nav .nav-list .nav-item .nav-link:hover {
    color: #f10215;
}

.header .adv {
    position: absolute;
    bottom: 8px;
    right: 10px;
    width: 190px;
    height: 55px;
}

.header .adv .adv-link {
    display: block;
    width: 190px;
    height: 55px;
    background: url(../imgs/sale.png.webp) no-repeat center top/190px 55px;
}


/*******************************头部*****************************/


/*****************************主导航菜单**************************/

.main-show {
    margin-bottom: 30px;
}

.nav-menu {
    float: left;
    width: 190px;
    height: 480px;
    margin-right: 10px;
    background-color: #fff;
}

.nav-menu .menu-list {
    padding: 15px 0;
}

.nav-menu .menu-list .menu-item {
    height: 28px;
    line-height: 28px;
    padding-left: 14px;
    font-size: 12px;
}

.nav-menu .menu-list .menu-item:hover {
    background-color: #d9d9d9;
}

.nav-menu .menu-list .menu-item .menu-link {
    font-size: 14px;
    color: #626262;
}

.nav-menu .menu-list .menu-item .menu-link:hover {
    color: #f10215;
}


/********************************主导航菜单************************/


/*********************************轮播图***************************/

.main-slider {
    float: left;
    width: 590px;
    height: 480px;
    margin-right: 10px;
}

.main-slider .slider-wrap {
    position: relative;
    width: 100%;
    height: 470px;
    padding-top: 10px;
}

.main-slider .slider-wrap .slider-list .slider-item {
    height: 470px;
}

.main-slider .slider-wrap .slider-list .slider-item img {
    width: 100%;
}

.main-slider .slider-wrap .slider-indicator {
    position: absolute;
    bottom: 20px;
    left: 46px;
    width: 152px;
    height: 18px;
}

.main-slider .slider-wrap .slider-indicator .indicator-dot {
    float: left;
    display: block;
    position: relative;
    width: 18px;
    height: 18px;
    cursor: pointer;
}

.main-slider .slider-wrap .slider-indicator .indicator-dot::after {
    position: absolute;
    top: 4px;
    left: 4px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: 2px solid #fff;
    border-radius: 50%;
    box-sizing: border-box;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: .4;
}

.main-slider .slider-wrap .slider-indicator .indicator-dot.cur::after {
    background-color: #fff;
    border: none;
    opacity: 1;
}

.main-slider .slider-wrap .slider-indicator .indicator-dot.cur::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 0;
    width: 18px;
    height: 18px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    opacity: .2;
}

.main-slider .slider-wrap .slider-dir {
    position: absolute;
    top: 50%;
    width: 24px;
    height: 40px;
    margin-top: -20px;
    /*居中*/
    background-color: #000;
    color: #fff;
    line-height: 37px;
    font-size: 24px;
    text-align: center;
    opacity: .2;
}

.main-slider .slider-wrap .slider-dir:hover {
    opacity: .5;
}

.main-slider .slider-wrap .slider-dir.slider-prev {
    left: 0;
}

.main-slider .slider-wrap .slider-dir.slider-next {
    right: 0;
}


/*************************************轮播图**********************/


/******************************主展区的图片展示区**********************/

.img-show {
    float: left;
    width: 190px;
    height: 480px;
    margin-right: 10px;
}

.img-show .img-show-inner {
    width: 100%;
    height: 470px;
    margin-top: 10px;
}

.img-show .img-show-inner .img-item {
    height: 150px;
    margin-bottom: 10px;
}

.img-show .img-show-inner .img-item:hover {
    opacity: .8;
}

.img-show .img-show-inner .img-item img {
    width: 100%;
}


/******************************主展区的图片展示区**********************/


/******************************功能区**********************/

.funs {
    float: left;
    width: 190px;
    height: 480px;
}


/******************************用户登录注册，plus会员**********************/

.funs .funs-user {
    position: relative;
    height: 150px;
    margin-top: 10px;
    background-color: #fff;
}

.funs .funs-user .avatar-wrap {
    position: absolute;
    left: 50%;
    top: -10px;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border: 3px solid #e3e1df;
    box-shadow: 3px 6px 25px #c3c3c3;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.funs .funs-user .avatar-wrap img {
    width: 100%;
}

.funs .funs-user .user-wrap {
    padding-top: 62px;
}

.funs .funs-user .user-wrap .user-text {
    height: 40px;
    padding: 0 10px;
    text-align: center;
    font-size: 12px;
}

.funs .funs-user .user-wrap .user-text p {
    line-height: 20px;
}

.funs .funs-user .user-wrap .user-text .welcome {
    color: #888;
}

.funs .funs-user .user-wrap .user-text .user-lk a {
    color: #666;
}

.funs .funs-user .user-wrap .user-btn {
    height: 25px;
    margin-top: 10px;
    padding-left: 13px;
}

.funs .funs-user .user-wrap .user-btn .btn {
    float: left;
    display: block;
    width: 70px;
    height: 25px;
    line-height: 25px;
    margin: 0 5px;
    border-radius: 12px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    -ms-border-radius: 12px;
    -o-border-radius: 12px;
    font-size: 12px;
    text-align: center;
    box-shadow: 6px 8px 20px rgba(45, 45, 45, .15);
}

.funs .funs-user .user-wrap .user-btn .btn.btn-fl {
    color: #f10215;
}

.funs .funs-user .user-wrap .user-btn .btn.btn-fl:hover,
.funs .funs-user .user-wrap .user-btn .btn.btn-plus:hover {
    background-color: #f10215;
    color: #fff;
}

.funs .funs-user .user-wrap .user-btn .btn.btn-plus {
    background-color: #363634;
    color: #e5d790;
}


/******************************用户登录注册，plus会员**********************/


/******************************促销，公告**********************/

.funs-notice {
    width: 190px;
    height: 130px;
    background-color: #fff;
}

.funs-notice .notice-tab {
    height: 122px;
}

.funs-notice .notice-tab .notic-hd {
    position: relative;
    height: 26px;
    padding-top: 8px;
    font-size: 0;
    line-height: 12px;
}

.funs-notice .notice-tab .notic-hd .tab-item {
    padding: 0 15px;
    font-size: 12px;
    color: #333;
}

.funs-notice .notice-tab .notic-hd .tab-item.first-child {
    border-right: 1px solid #dfe0e1;
}

.funs-notice .notice-tab .notic-hd .tab-item.more {
    position: absolute;
    right: 12px;
    padding: 0;
}

.funs-notice .notice-tab .notic-hd .tab-item.more:hover {
    color: #f10215;
}

.funs-notice .notice-tab .notic-hd .tab-line {
    position: absolute;
    bottom: -1px;
    width: 27px;
    height: 2px;
    margin-left: 13px;
    background: #f10215;
}

.funs-notice .notice-tab .notic-wrap {
    width: 160px;
    height: 96px;
    margin-left: 15px;
    padding-top: 8px;
}

.funs-notice .notice-tab .notic-wrap .notic-list .notic-item {
    height: 22px;
    line-height: 22px;
}

.funs-notice .notice-tab .notic-wrap .notic-list .notic-item .notic-lk {
    color: #666;
    font-size: 12px;
}

.funs-notice .notice-tab .notic-wrap .notic-list .notic-item .notic-lk:hover {
    color: #f10215;
}


/******************************促销，公告**********************/


/******************************功能12宫格列表**********************/

.funcs-icon {
    display: block;
    width: 20px;
    height: 20px;
    background: url(../imgs/funcs12.png) no-repeat 0 0/16px 192px;
    margin: 0 auto;
}

.funcs-icon.icon-neiyi {
    background-position: 0 0;
}

.funcs-icon.icon-maozi {
    background-position: 0 -16px;
}

.funcs-icon.icon-maoyi {
    background-position: 0 -32px;
}

.funcs-icon.icon-weiyi {
    background-position: 0 -48px;
}

.funcs-icon.icon-waitao {
    background-position: 0 -64px;
}

.funcs-icon.icon-qun {
    background-position: 0 -80px;
}

.funcs-icon.icon-chenyi {
    background-position: 0 -96px;
}

.funcs-icon.icon-beixin {
    background-position: 0 -112px;
}

.funcs-icon.icon-bao {
    background-position: 0 -128px;
}

.funcs-icon.icon-duanxiu {
    background-position: 0 -144px;
}

.funcs-icon.icon-duanqun {
    background-position: 0 -160px;
}

.funcs-icon.icon-duanku {
    background-position: 0 -176px;
}

.funcs-wrap {
    position: relative;
    width: 190px;
    height: 190px;
    padding: 18px 11px 11px;
    background-color: #fff;
}

.funcs-wrap::before {
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    top: 0;
    width: 160px;
    height: 1px;
    background-color: #ebeaea;
}

.funcs-wrap .funcs-list .funcs-item {
    float: left;
    position: relative;
    width: 42px;
    height: 57px;
    padding-top: 2px;
    text-align: center;
}

.funcs-wrap .funcs-list .funcs-item .funcs-text {
    font-size: 12px;
    color: #bea68d;
}

.funcs-wrap .funcs-list .funcs-item .badge {
    position: absolute;
    top: -5px;
    right: 0;
    width: 12px;
    height: 16px;
    background-color: #e01121;
    color: #fff;
    font-size: 12px;
    text-align: center;
}

.funcs-wrap .funcs-list .funcs-item .badge .rec {
    display: block;
    height: 16px;
    line-height: 12px;
}

.funcs-wrap .funcs-list .funcs-item .badge .icon {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 2px 6px;
    border-color: #e01121 #e01121 #fff;
}


/******************************功能12宫格列表**********************/


/******************************功能区**********************/


/******************************京东秒杀**********************/

.sec-kill {
    margin-bottom: 30px;
    background-color: #fff;
}

.sec-kill .sec-kill-wrap {
    float: left;
    width: 190px;
    height: 275px;
    background-color: #e83632;
}

.sec-kill .sec-kill-wrap .sec-kill-lk {
    position: relative;
    display: block;
    height: 100%;
}

.sec-kill .sec-kill-wrap .sk-tt {
    position: absolute;
    top: 42px;
    left: 0;
    width: 100%;
    height: 51px;
    line-height: 51px;
    font-size: 34px;
    text-align: center;
    color: #fff;
}

.sec-kill .sec-kill-wrap .sk-en-tt {
    position: absolute;
    top: 90px;
    left: 0;
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    font-size: 20px;
    color: #f19999;
}

.sec-kill .sec-kill-wrap .sk-icon {
    display: block;
    position: absolute;
    left: 86px;
    top: 126px;
    width: 20px;
    height: 33px;
    background: url(../imgs/shandian.png) no-repeat 50% 50%/52.5px 40px;
}

.sec-kill .sec-kill-wrap .sk-desc {
    position: absolute;
    left: 0;
    top: 170px;
    width: 100%;
    height: 24px;
    line-height: 24px;
    text-align: center;
    color: #fff;
    font-size: 16px;
}

.sec-kill .sec-kill-wrap .sk-cd {
    position: absolute;
    left: 30px;
    top: 212px;
    width: 135px;
    height: 40px;
}

.sec-kill .sec-kill-wrap .sk-cd .rec {
    float: left;
    position: relative;
    width: 40px;
    height: 40px;
    margin-right: 5px;
    background-color: #2f3430;
    color: #fff;
    line-height: 40px;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
}

.sec-kill .sec-kill-wrap .sk-cd .rec span {
    position: relative;
    z-index: 1;
}


/*秒杀倒计时横线样式*/

.sec-kill .sec-kill-wrap .sk-cd .rec::before {
    content: "";
    display: block;
    position: absolute;
    left: 0;
    top: 21px;
    width: 100%;
    height: 1px;
    background-color: #e83632;
}

.sec-kill .slider-wrap {
    float: left;
    width: 1000px;
    height: 275px;
    background-color: #fff;
}

.sec-kill .slider-wrap .sk-list {
    float: left;
    position: relative;
    width: 800px;
    height: 275px;
}

.sec-kill .slider-wrap .sk-list .sk-control {
    display: block;
    position: absolute;
    top: 90px;
    z-index: 1;
    width: 20px;
    height: 40px;
    background-color: #000;
    font-size: 24px;
    text-align: center;
    line-height: 40px;
    color: #fff;
    opacity: .2;
}

.sec-kill .slider-wrap .sk-list .sk-control:hover {
    opacity: .5;
}

.sec-kill .slider-wrap .sk-list .sk-control.sk-prev {
    left: 0;
}

.sec-kill .slider-wrap .sk-list .sk-control.sk-next {
    right: 0;
}

.sec-kill .slider-wrap .sk-list .goods-list {
    float: left;
}

.sec-kill .slider-wrap .sk-list .goods-item {
    float: left;
    width: 200px;
    height: 275px;
    border-right: 1px solid #eee;
}

.sec-kill .slider-wrap .sk-list .goods-item:hover .goods-tt {
    color: #f10215;
}

.sec-kill .slider-wrap .sk-list .goods-item:hover .goods-img {
    opacity: .8;
}

.sec-kill .slider-wrap .sk-list .goods-item .item-lk {
    display: block;
    position: relative;
    width: 190px;
    height: 100%;
    margin-left: 5px;
}

.sec-kill .slider-wrap .sk-list .goods-item .goods-img {
    position: absolute;
    top: 40px;
    left: 50%;
    width: 140px;
    height: 140px;
    margin-left: -70px;
}

.sec-kill .slider-wrap .sk-list .goods-item .goods-img img {
    width: 100%;
}

.sec-kill .slider-wrap .sk-list .goods-item .goods-tt {
    position: absolute;
    top: 190px;
    left: 0;
    width: 100%;
    height: 30px;
    padding: 0 15px;
    font-size: 12px;
    color: #666;
    box-sizing: border-box;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.sec-kill .slider-wrap .sk-list .goods-item .sk-price {
    position: absolute;
    left: 15px;
    top: 230px;
    width: 162px;
    height: 22px;
    border: 1px solid #f10215;
}

.sec-kill .slider-wrap .sk-list .goods-item .sk-price span {
    float: left;
    display: block;
    width: 50%;
    height: 100%;
    line-height: 19px;
    font-size: 12px;
    text-align: center;
}

.sec-kill .slider-wrap .sk-list .goods-item .sk-price span i {
    font-size: 12px;
    font-weight: normal;
}

.sec-kill .slider-wrap .sk-list .goods-item .sk-price span.hl {
    background-color: #f10215;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
}

.sec-kill .slider-wrap .sk-list .goods-item .sk-price span.price {
    color: #999;
}

.sec-kill .slider-wrap .slider {
    float: left;
    position: relative;
    width: 200px;
    height: 275px;
    padding: 8px 10px 7px;
}

.sec-kill .slider-wrap .slider .slider-item {
    float: left;
    width: 100%;
    height: 100%;
}

.sec-kill .slider-wrap .slider .slider-item img {
    width: 100%;
}

.sec-kill .slider-wrap .slider .slider-indicator {
    position: absolute;
    bottom: 16px;
    left: 50%;
    width: 28px;
    height: 14px;
    margin-left: -14px;
}

.sec-kill .slider-wrap .slider .slider-indicator .indicator-dot {
    float: left;
    display: block;
    width: 6px;
    height: 6px;
    margin: 4px;
    background-color: #b9beba;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.sec-kill .slider-wrap .slider .slider-indicator .indicator-dot.cur {
    background-color: #f10215;
}


/******************************京东秒杀**********************/


/*****************************排行榜************************/

.block {
    margin-top: 30px;
}

.block-box {
    float: left;
    position: relative;
    width: 390px;
    height: 450px;
    margin-right: 10px;
    background-color: #fff;
}

.block-box.no-bg {
    background-color: transparent;
}

.block-box .slider-indicator {
    position: absolute;
    bottom: 8px;
    left: 50%;
    height: 16px;
}

.block-box .slider-indicator.phb {
    margin-left: -17px;
}

.block-box .slider-indicator.hmzj {
    margin-left: -25px;
}

.block-box .slider-indicator .indicator-dot {
    float: left;
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    margin-right: 1px;
}

.block-box .slider-indicator .indicator-dot.cur::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    z-index: 0;
    width: 100%;
    height: 100%;
    background-color: #fdd9dd;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.block-box .slider-indicator .indicator-dot::after {
    content: "";
    display: block;
    position: relative;
    z-index: 1;
    width: 10px;
    height: 10px;
    margin: 3px;
    border: 2px solid #b9beba;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    box-sizing: border-box;
}

.block-box .slider-indicator .indicator-dot.cur::after {
    background-color: #f10215;
    border: none;
}

.block-box:last-child {
    margin: 0;
}

.block-box .box-hd {
    height: 60px;
    padding: 0 20px;
}

.block-box .box-hd .hd-lk {
    display: inline-block;
    height: 40px;
    margin-top: 8px;
    font-size: 0;
}

.block-box .box-hd .hd-lk .hd-tt {
    display: inline-block;
    font-size: 22px;
    line-height: 44px;
    color: #222;
}

.block-box .box-hd .hd-lk .arrow-icon {
    display: inline-block;
    width: 23px;
    height: 23px;
    background: url(../imgs/arrow-right.png) no-repeat 0 0/23px 23px;
    vertical-align: middle;
    margin: -15px 5px 0;
}

.block-box .box-hd .hd-lk .hd-subtt {
    display: inline-block;
    font-size: 14px;
    color: #999;
    line-height: 20px;
    vertical-align: 3px;
}

.block-box .box-bd {
    width: 390px;
    height: 355px;
}

.block-box .box-bd .tab-hd {
    height: 34px;
    background-color: #f7f7f7;
}

.block-box .box-bd .tab-hd .tab-list {
    width: 100%;
}

.block-box .box-bd .tab-hd .tab-item {
    float: left;
    width: 20%;
    height: 100%;
    text-align: center;
    line-height: 34px;
    font-size: 12px;
}

.block-box .box-bd .tab-hd .tab-item .tab-lk {
    color: #666;
}

.block-box .box-bd .tab-hd .tab-item .tab-lk.active {
    color: #f10215;
}

.block-box .box-bd .tab-body {
    width: 390px;
}

.block-box .box-bd .tab-body .slider-list {
    height: 321px;
}

.block-box .box-bd .tab-body .slider-item {
    position: relative;
    width: 100%;
    height: 100%;
    padding: 0 20px;
}

.block-box .box-bd .tab-body .slider-item::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 20px;
    width: 350px;
    height: 1px;
    background-color: #eee;
}

.block-box .box-bd .tab-body .slider-item .ranking-list {
    width: 100%;
    height: 100%;
}

.block-box .box-bd .tab-body .slider-item .ranking-item {
    height: 107px;
}

.block-box .box-bd .tab-body .slider-item .ranking-item:hover .ranking-title {
    color: #f10215;
}

.block-box .box-bd .tab-body .slider-item .ranking-item:hover .ranking-img {
    opacity: .8;
}

.block-box .box-bd .tab-body .slider-item .ranking-item .ranking-lk {
    display: block;
    height: 100%;
    overflow: hidden;
}

.block-box .box-bd .tab-body .slider-item .ranking-item .ranking-lk .ranking-img {
    float: left;
    width: 80px;
    height: 80px;
    margin-top: 15px;
}

.block-box .box-bd .tab-body .slider-item .ranking-item .ranking-lk .ranking-num {
    float: left;
    width: 30px;
    height: 40px;
    margin: 36px 0 0 10px;
    font-size: 32px;
    line-height: 40px;
    text-align: center;
    font-family: impact;
}

.block-box .box-bd .tab-body .slider-item .ranking-item .ranking-num.one {
    color: #e74240;
}

.block-box .box-bd .tab-body .slider-item .ranking-item .ranking-num.two {
    color: #ed713d;
}

.block-box .box-bd .tab-body .slider-item .ranking-item .ranking-num.three {
    color: #feb185;
}

.block-box .box-bd .tab-body .slider-item .ranking-item .ranking-title {
    display: inline-block;
    width: 200px;
    height: 32px;
    margin: 40px 0 0 10px;
    font-size: 12px;
    line-height: 16px;
    color: #666;
    overflow: hidden;
}


/*****************************排行榜************************/


/*****************************会买专辑************************/

.block-box .box-bd .slider-wrap {
    height: 100%;
    padding: 0 20px;
}

.block-box .box-bd .slider-wrap .slider,
.block-box .box-bd .slider .slider-item,
.block-box .box-bd .slider .slider-item .slider-lk {
    height: 355px;
}

.block-box .box-bd .slider .slider-item .slider-lk {
    display: block;
}

.block-box .box-bd .slider .slider-item .main-img {
    position: relative;
    height: 128px;
    margin-bottom: 20px;
}

.block-box .box-bd .slider .slider-item .main-img img {
    height: 128px;
}

.block-box .box-bd .slider .slider-item .main-img::after {
    content: "";
    display: block;
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 0;
    height: 0;
    margin-left: -8px;
    border-style: solid;
    border-width: 8px;
    border-color: transparent;
    border-bottom-color: #fff;
}

.block-box .box-bd .slider .slider-item .content-cover {
    height: 210px;
}

.block-box .box-bd .slider .slider-item .imgs-show {
    width: 366px;
    height: 105px;
    margin-left: -8px;
}

.block-box .box-bd .slider .slider-item .imgs-show .img-box {
    float: left;
    width: 105px;
    height: 105px;
    margin: 0 8px;
}

.block-box .box-bd .slider .slider-item .content-tt {
    height: 58px;
    line-height: 58px;
    color: #222;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.block-box .box-bd .slider .slider-item .content-text {
    height: 36px;
    line-height: 18px;
    overflow: hidden;
    color: #666;
    font-size: 14px;
}

.block-box .box-bd .slider .slider-item img:hover {
    opacity: .7;
}


/*****************************会买专辑************************/


/*****************************优惠劵************************/

.block-box .box-bd .slider .slider-item .coupon-card {
    position: relative;
    height: 118px;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.block-box .box-bd .slider .slider-item .coupon-card::before,
.block-box .box-bd .slider .slider-item .coupon-card::after {
    content: "";
    display: block;
    position: absolute;
    right: 65px;
    width: 16px;
    height: 16px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.block-box .box-bd .slider .slider-item .coupon-card::before {
    top: -8px;
}

.block-box .box-bd .slider .slider-item .coupon-card::after {
    bottom: -8px;
}

.block-box .box-bd .slider .slider-item .coupon-card:nth-child(odd) {
    background-color: #f6f6f6;
}

.block-box .box-bd .slider .slider-item .coupon-card:nth-child(even) {
    background-color: #eeefed;
}

.block-box .box-bd .slider .slider-item .coupon-card .coupon-lk {
    display: block;
    height: 100%;
    overflow: hidden;
}

.block-box .box-bd .slider .slider-item .coupon-card .img-wrap {
    float: left;
    width: 90px;
    height: 90px;
    margin: 14px 0 0 10px;
    padding: 10px;
    background-color: #fff;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    overflow: hidden;
}

.block-box .box-bd .slider .slider-item .coupon-card .coupon-info {
    float: left;
    position: relative;
    width: 168px;
    height: 101px;
    margin-left: 10px;
    padding-top: 15px;
    font-size: 14px;
}

.block-box .box-bd .slider .slider-item .coupon-card .coupon-info .price {
    height: 38px;
    line-height: 38px;
    color: #e33333;
    font-family: 'impact';
}

.block-box .box-bd .slider .slider-item .coupon-card .coupon-info .price i {
    font-size: 16px;
}

.block-box .box-bd .slider .slider-item .coupon-card .coupon-info .price span {
    font-size: 34px;
}

.block-box .box-bd .slider .slider-item .coupon-card .coupon-info .limit {
    height: 24px;
    line-height: 24px;
    color: #b1b3b0;
}

.block-box .box-bd .slider .slider-item .coupon-card .coupon-info .desc {
    height: 24px;
    line-height: 24px;
    color: #767b77;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.block-box .box-bd .slider .slider-item .coupon-card .more {
    position: absolute;
    top: 30px;
    right: 38px;
    width: 1px;
    height: 105px;
    font-size: 12px;
    line-height: 14px;
    color: #333;
}

.block-box .box-bd .slider .slider-item .coupon-card:hover .more {
    color: #f10215;
}

.block-box .box-bd .slider .slider-item .coupon-card:hover img {
    opacity: .7;
}


/*****************************优惠劵************************/


/*****************************智能先锋************************/

.block-tt-wrap {
    height: 65px;
    margin-top: 30px;
}

.block-tt {
    height: 45px;
    line-height: 45px;
    text-align: center;
}

.block-tt h3 {
    position: relative;
    font-size: 28px;
    font-family: 'fzzzh';
    font-weight: bold;
    color: #222;
}

.block-tt h3::before,
.block-tt h3::after {
    content: "";
    display: block;
    position: absolute;
    left: 50%;
    top: 20px;
    width: 50px;
    height: 3px;
    background-color: #222;
}

.block-tt h3::before {
    margin-left: -120px;
}

.block-tt h3::after {
    margin-left: 70px;
}

.block-box .wrap {
    width: 370px;
    height: 368px;
    margin-left: 20px;
}

.block-box .wrap .imgs-wrap {
    width: 360px;
    height: 190px;
}

.block-box .wrap .imgs-wrap .img-wrap {
    float: left;
    width: 170px;
    height: 180px;
    margin: 0 10px 10px 0;
}

.block-box .wrap .phone-wrap {
    width: 349px;
    height: 178px;
    border-right: 1px solid #ebeaea;
    border-bottom: 1px solid #ebeaea;
}

.block-box .wrap .phone-wrap .phone-wrap-lk {
    float: left;
    display: block;
    width: 87px;
    height: 59px;
    padding: 3px;
    border-top: 1px solid #ebeaea;
    border-left: 1px solid #ebeaea;
    box-sizing: border-box;
    text-align: center;
}

.block-box .wrap .phone-wrap .phone-wrap-lk img {
    width: 40px;
    height: 40px;
}

.block-box .new-goods-wrap {
    width: 390px;
    height: 370px;
    padding: 0 20px;
}

.block-box .new-goods-wrap .img-wrap {
    height: 100%;
}

.block-box .wrap .imgs-wrap .img-wrap:hover img,
.block-box .new-goods-wrap .img-wrap:hover img,
.block-box .block-box-inner .img-lk:hover img,
.block-box .wrap .phone-wrap .phone-wrap-lk:hover img {
    opacity: .8;
}

.block-box .block-box-inner {
    position: relative;
    height: 100%;
}

.block-box .block-box-inner::before {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    width: 340px;
    height: 420px;
    border: 5px solid #333;
}

.block-box .block-box-inner .img-lk {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 340px;
    height: 420px;
}

.block-box .block-box-inner .img-lk img {
    height: 430px;
}


/*****************************智能先锋************************/